/* style.css */
body {
    background-color: rgb(6, 26, 27);
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    margin: 60px auto;
    display: none;
}
.container h1 {
    text-align: center;
    color: white;
}
form {
    background-color: white;
    padding: 30px;
}
form .input-group {
    margin-bottom: 15px;
}
form label {
    display: block;
    margin-bottom: 10px;
}
form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}
.submit-btn {
    width: 100%;
    border: none;
    background: rgb(37, 83, 3);
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

.connect {
    max-width: 500px;
    margin: 60px auto;
    color: white;
    display: none;
}
.connect h1 {
    text-align: center;
    color: white;
}
#qrdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 10px auto;
}
#qrdiv p{
    text-align: center;
    color: white;
}

svg {
    max-width: 250px;
    margin: 10px auto;
    background: white;
}


#btn {
    width: 100%;
    border: none;
    background: rgb(37, 83, 3);
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}
#refresh {
    width: 100%;
    border: none;
    background: rgb(83, 22, 3);
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

